*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar a:hover{
    color: rgb(219, 223, 105);
}
.register-box{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
.login-btn{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.login-btn:hover{
    background-color: rgb(219, 223, 105);
}