*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    width: 100%;
    height: fit-content;
    background-color: rgb(248, 249, 239);
    position: relative;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu ul{
    margin: 0;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-size: 1.2em;
}

.menu ul li a{
    text-decoration: none;
    color: black;
}

.register-box{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
.login-btn{
    text-decoration: none;
    color: white;
    background-color: rgb(35, 57, 223);
    padding: 10px 20px;
    border-radius: 20px;
}
.login-btn:hover{
    background-color: rgb(162, 121, 212);
}
.signup-btn{
    text-decoration: none;
    color: rgb(35, 57, 223);
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgb(35, 57, 223);
}
.signup-btn:hover{
    border: 1px solid rgb(162, 121, 212);
    color: rgb(162, 121, 212);
}
.logo{
    width: 150px;
    height: auto;
}
.main-box{
    display: flex;
    flex-direction: row-reverse;
    padding: 0em 2em;
    gap: 2em;
}
.text-box{
    position: absolute;
    top: 10em;
    left: 5em;
    width: 50%;
    text-align: left;
}
.title{
    font-size: 2.5em;
    width: 80%;
    padding-bottom: 0.2em;
    font-weight: 600;
}
.description{
    font-size: 1.3em;
    padding-bottom: 0.2em;
    width: 65%;
}
.big-btn{
    text-decoration: none;
    color: white;
    background-color: rgb(35, 57, 223);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1em;
    border: none;
    margin-right: 1em;
}
.lit-btn{
    text-decoration: none;
    color: rgb(35, 57, 223);
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1em;
    border: 1px solid rgb(35, 57, 223);
}
.img-box{
    width: 100px;
    height: auto;
}
.image1{
    width: 50%;
    height: auto;
}

.feature-sec{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 2em 5em;
}
.feature-title{
    font-size: 2em;
    padding-bottom: 0.2em;
    margin-bottom: 1em;
    font-weight: 600;
}
.feature-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
}
.feature-box{
    width: 30%;
    height: fit-content;
    background-color: white;
    padding: 1em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 0em;
    border-radius: 10px;
    border: 1px solid rgba(103, 103, 103, 0.525);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.feature-box h3{
    font-size: 1.3em;
    padding-bottom: 0.2em;
    font-weight: 600;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.bi-stars{
    
}

.impact-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 5em;
    background-color: rgb(248, 249, 239);
}
.impact-textbox{
    display: flex;
    flex-direction: column;
    padding-right: 5em;
    padding-top: 6%;
}
.impact-textbox h3{
    font-size: 2em;
    padding-bottom: 0.4em;
    font-weight: 600;
}
.impact-textbox p{
    font-size: 1.1em;
    padding-bottom: 0.4em;
    line-height: 2em;
}
.impact-pic{
    width: 40%;
    height: auto;
    padding-top: 2em;
    border-radius: 10px;
}
.testi-page{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    padding: 2em 3em;
}
.testi-box{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.testi-txt{
    font-size: 1.1em;
    padding-bottom: 0.4em;
    font-weight: 600;
    padding-top: 0.8em;
    color: black;
}
.testi-name{
    font-size: 1em;
    padding-bottom: 0.2em;
    font-weight: 600;
    color: rgb(35, 57, 223);
}
.testi-company{
    font-size: 0.9em;
    padding-bottom: 0.2em;
    color: rgb(103, 103, 103);
}

.cta-sec{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 5em;
    background-color: rgb(248, 249, 239);
}
.cta-sec h3{
    font-size: 2em;
    padding-bottom: 0.4em;
    font-weight: 600;
}
.cta-sec p{
    font-size: 1.1em;
    padding-bottom: 0.4em;
    line-height: 2em;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.email-input{
    width: 25vw;
    height: 2.5em;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid rgb(103, 103, 103);
    font-size: 1em;
}
.cta-btn{
    text-decoration: none;
    color: white;
    background-color: rgb(35, 57, 223);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1em;
    border: none;
    width: 11vw;
    
}
.cta-sec :nth-child(4){
    font-family: sans-serif;
}